doctype html

h1 Dev API Demo

form(name='form', novalidate)

    .row
        .col-2
            .form-group(ng-class='{ "has-success": form.requestMethod.$valid }')
                label(for='request-method') Method
                select.form-control#request-method(
                    name='requestMethod',
                    ng-model='request.method',
                    required,
                    ng-class='{ "form-control-success": form.requestMethod.$valid }'
                )
                    option(value='GET') GET
                    option(value='POST') POST
                    option(value='PUT') PUT
                    option(value='PATCH') PATCH
                    option(value='DELETE') DELETE
        .col-8
            .form-group(ng-class='{ "has-success": form.requestPath.$valid }')
                label(for='request-path') Path
                input.form-control#request-path(
                    name='requestPath',
                    ng-model='request.path',
                    required,
                    placeholder='/example/resource',
                    ng-class='{ "form-control-success": form.requestPath.$valid }'
                )
                .url {{request.url}}

        .col-2
            .form-group
                label &nbsp;
                input.btn.btn-success.form-control(type='submit', value='Send', ng-disabled='!form.$valid', ng-click='send(request)')

    .row
        .col
            .form-group(ng-class='{ "has-success": form.requestHeadersAuthorization.$valid }')
                label(for='request-headers-authorization') Authorization (User)
                input.form-control#request-headers-authorization(
                    name='requestHeadersAuthorization',
                    ng-model='request.headers.authorization',
                    required,
                    placeholder='Your name here!',
                    ng-class='{ "form-control-success": form.requestHeadersAuthorization.$valid }'
                )


    .row(ng-if='hasRequestBody(request.method)')
        .col
            .form-group(ng-class='{ "has-success": form.requestData.$valid, "has-danger": (form.requestData.$touched || form.requestData.$dirty) && form.requestData.$invalid }')
                label(for='request-body') Data (JSON)
                textarea.form-control#request-body(ng-model='request.data', name='requestData', required, json, ng-model-options='{ debounce: { default: 250 } }', placeholder='{ "foo": "bar" }')


    .row(ng-if='response')
        .col
            .alert(ng-class='{ "alert-success": response.status >= 200 && response.status < 400, "alert-danger": response.status >= 400 }')
                h2 {{response.status}}
                pre(ng-if='response.data')
                    code {{response.data}}
