@import '~bootstrap/scss/_variables.scss';
@import '~@siplay/interview-docs/src/docs';

app {
  display: block;
  margin: 2rem 0;

  .app-body {
    padding: 1rem;
    border-radius: 0.25rem;
    background: #efefef;
  }

  .app-content {
    border-left: solid 1px #ccc;
  }

  a.current {
    font-weight: bold;
    color: darken($link-color, 20%);
    text-decoration: none;
  }

  .logo {
    $width: 150px;
    $height: 55px;
    display: block;
    width: $width;
    height: $height;
    @include hi-res-image('~@siplay/interview-docs/src/img.logo', 'png', $width, $height);
  }
}